* {
    margin: 0px;
    padding: 0px;
}


section {
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.colaboradores{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.item {
    position: relative;
    height: 260px;
    transition: transform 0.2s;
}

.item a{
    display: flex;
    justify-content: center;
}

.item:hover{
    transform: scale(1.06);
}


.nombre{
    font-size: 30px;
    position: absolute;
    display: flex;
    color: white;
    bottom: -5px;
}

img {
    border-radius: 18%;
    overflow: hidden;
    width: 230px;
    max-height: 230px;
}


