* {
    margin: 0px;
    padding: 0px;
    font-family: 'VT323', sans-serif;
    font-size: 25px;
}

.clase {
    color:#8cc9e4;
    font-size: 30px;
    font-weight: 600;
}

.igual {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.clasename {
    color: #ba7750;
    font-size: 30px;
    font-weight: 600;
}

.signo3 {
    font-size: 35px;
    color: gray;
    font-weight: 400;
}

.sh3 {
    font-size: 35px;
    color: #004dac;
}

.signo1 {
    font-size: 60px;
    color: gray;
    font-weight: 400;
}

.sh1 {
    font-size: 60px;
    color: #004dac;
}

.signop {
    font-size: 20px;
    color: gray;
    font-weight: 400;
}

.sp {
    font-size: 30px;
    color: #004dac;
}

.sect {
    position: relative;
    bottom: -10px;
}

header {
    position: fixed;
    right: 10%;
    z-index: 5;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

.nav-list nav input{
    margin: 0px 2vh;
    color: #0053b8;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 25px;
    transition: transform 0.2s;
}

.nav-list nav input:hover {
    transform: scale(1.06);
    color: #326fba;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px #003c86b1);
}

section {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.presentacion {
    background-color: rgb(29, 29, 29);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.perfil img {
    position: absolute;
    height: 60vh;
    right: 20vh;
    border-radius: 18px;
    z-index: 1;
    transition: transform 0.2s;
    filter: drop-shadow(30px 30px 11px #003c86b1);
}

.perfil img:hover {
    transform: scale(1.04);
}

.txt {
    position: relative;
    max-width: 75%;
    padding: 20px;
    z-index: 0;
}

.perfil fieldset {
    max-width: 75%;
    padding: 30px;
    border-radius: 18px;
    border: 3px solid white;
}

.txt h1 {
    margin: 10px 0px;
    font-size: 70px;
    color: white;
}

.txt h3 {
    font-size: 40px;
    text-align: initial;
    color: #ffffff;
}

.txt p {
    font-size: 30px;
    text-align: initial;
    width: 85%;
    font-weight: bold;
    color: white;
}

.txt hr {
    height: 2px;
    max-width: 160px;
    margin: 20px 0px;
    filter: drop-shadow(0px 0px 4px #4978b295);
    border-color:#004dac;
    background-color: #004dac;
}

.servicios {
    height: 100vh;
    width: 100%;
    color: white;
    filter: drop-shadow(35px 35px 10px #0073ff);
    z-index: 10;
}

.servicios h1{
    margin-top: 6%;
    margin-left: 9%;
    text-align: initial;
    font-size: 100px;
    font-weight: 200;
}

.servicios .txt{
    display: flex;
    justify-content: center;
    gap: 10%;
    max-width: 100%;
    height: 80%;
    border: none;
}

.sel-item::before {
    content: "";
    position: absolute;
    width: 20px; 
    height: 20px;
    background-color: #004dac; 
    transform: translate(-40px, 50%);
    transition: background-color 0.2s;
}

.sel-item:hover::before {
    background-color: #3498db;
}

.servicios .txt div{
    max-width: 22%;
}

.servicios .txt img {
    width: 80px;
    margin: 3vh 12px;
}

.servicios .txt h2{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    margin: 20px 0px;
}

.servicios .txt h3 {
    margin-top: 35px;
    font-size: 35px;
    font-weight: 200;
    text-align: initial;
}

.servicios .txt h4 {
    font-size: 25px;
    color: #004dac;
    text-align: initial;
}

.servicios .txt p {
    width: 100%;
    font-size: 25px;
    font-weight: 200;
}

.proyectos {
    position: relative;
    background-color: rgb(29, 29, 29);
    color: white;
    
}

.proyectos h1 {
    margin: 1% 0;
    text-align: center;
    font-size: 100px;
    font-weight: 200;
}

.grid-card {
    margin: 0 3%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 22px;
    text-align: center;
    gap: 30px;
}

.grid-card a {
    background-color: #002f6885;
    border-radius: 18px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    height: 100%;
    transition: transform 0.2s, opacity 0.3s;
    filter: none;
}


.grid-card:hover a {
    filter: blur(3px); 
    opacity: 0.5;
    transform: scale(0.9);
}

.grid-card a:hover {
    filter: none; 
    opacity: 1; 
    transform: scale(1.1);
}


.grid-card .img-card {
    margin: 2% 0%;
    width: 70%;
    border-radius: 18px;
}

.grid-card .nombre{
    margin: 2%;
}

.grid-card .aka {
    margin: 2%;
}

.btn{
    border: none;
    background-color: transparent;
    margin: 2% 4%;
    max-width: 70px;
}

.btn img{
    margin: 2%;
    width: 75%;
    transition: transform 0.2s;
}

.btn img:hover {
    transform: scale(1.08);
    filter: drop-shadow(0px 0px 5px #003c86b1);
}

.skill {
    position: absolute;
    text-align: center;
    top: 96vh;
    left: 50%;
    transform: translate(-50%, -100%);
}

.skill p {
    margin: 2% 0%;
    font-size: 70px;
}

.skill img {
    margin: 2% 5%;
    width: 8%;
    transition: transform 0.3s;
}

.skill img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 5px #003c86b1);
}

.contacto {
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
}

.contacto h1{
    margin: 2% 10%;
    text-align: initial;
    font-size: 100px;
    font-weight: 200;
}

.ingresar {
    margin: 1% 5%;
}

.ingresar fieldset{
    padding: 30px;
    border-radius: 18px;
    border: 3px solid white;
    height: 100px;
}

.ingresar .mensaje{
    padding: 30px;
    border-radius: 18px;
    border: 3px solid white;
    height: 100px;
}

.ingresar legend{
    font-size: 60px;
}

.ingresar input{
    height: 100%;
    width: 100%;
}

.ingresar button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.736);
    z-index: 6;
    backdrop-filter: blur(3px);
}

#preview-container {
    display: none; /* Dont Touc */
    position: fixed; /* Dont Touc */
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 7;
}

#preview-container button{
    position: absolute;
    right: 0px;
    width: 50px;
    font-size: 30px;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    transform: scale(1.3);
    z-index: 12;
}

#preview-frame {
    border: none;
    overflow: hidden;
    z-index: 7;
}

/*Portatiles baja*/
@media (max-width: 1440px)  {

    .signo1 {
        font-size: 50px;
        color: gray;
        font-weight: 400;
    }

    .sh1 {
        font-size: 50px;
        color: #004dac;
    }

    .txt h1 {
        margin: 1% 0px;
        font-size: 50px;
    }

    .txt h3 {
        font-size: 28px;
    }

    .txt p {
        font-size: 28px;
    }

    .txt hr {
        margin: 10px 0px;
    }
   
    .servicios h1{
        margin-top: 4%;
    }

    .sel-item::before {
        width: 15px; 
        height: 15px;
        transform: translate(-30px, 50%);
    }

    .servicios .txt img {
        width: 60px;
    }

    .servicios .txt h2{
        font-size: 40px;
        margin: 0px 0px;
    }

    .servicios .txt h3 {
        margin-top: 25px;
        font-size: 25px;
    }

    .servicios .txt h4 {
        font-size: 22px;
    }

    .servicios .txt p {
        font-size: 23px;
    }

    .proyectos h1 {
        font-size: 80px;
    }

    .grid-card {
        margin: 0 2%;
    }

    .grid-card a {
        height: 100%;
    }

    .grid-card .img-card {
        margin: 2% 0%;
        width: 50%;
    }

    .grid-card .nombre{
        margin: 1%;
    }

    .grid-card .aka {
        margin: 1%;
    }

    .btn{
        margin: 2% 0%;
    }

    .btn img{
        width: 65%;
    }

    .skill {
        top: 100vh;
    }

    .skill p {
        margin: 1% 0%;
        font-size: 70px;
    }

    .skill img {
        margin: 2% 5%;
        width: 7.5%;
    }
}

/*Tablets*/
@media (max-width: 1054px) {

    .signo1 {
        font-size: 35px;
        color: gray;
        font-weight: 400;
    }

    .sh1 {
        font-size: 35px;
        color: #004dac;
    }

    .txt h1 {
        margin: 2% 0px;
        font-size: 35px;
    }

    .txt h3 {
        font-size: 20px;
    }

    .txt p {
        font-size: 20px;
    }

    .servicios h1 {
        font-size: 100px;
        margin-top: 4%;
    }

    .sel-item::before {
        width: 15px;
        height: 15px;
        transform: translate(-30px, 50%);
    }

    .servicios .txt img {
        width: 50px;
    }

    .servicios .txt h2 {
        font-size: 35px;
        margin: 0px 0px;
    }

    .servicios .txt h3 {
        margin-top: 20px;
        font-size: 20px;
    }

    .servicios .txt h4 {
        font-size: 20px;
    }

    .servicios .txt p {
        font-size: 19px;
    }

    .proyectos h1 {
        font-size: 70px;
        margin-top: 5%;
    }

    .grid-card {
        margin: 0 2%;
    }

    .grid-card .img-card {
        margin: 4% 0%;
        width: 70%;
    }

    .skill {
        top: 96vh;
    }

    .skill p {
        margin: 0% 0%;
        font-size: 70px;
    }

    .skill img {
        margin: 2% 4%;
        width: 9%;
    }
}

/*Celulares*/
@media (max-width: 500px) {

    .txt h1 {
        margin: 1% 0px;
        font-size: 10px;
    }

    .txt h3 {
        font-size: 28px;
    }

    .txt p {
        font-size: 28px;
    }

    .txt hr {
        margin: 10px 0px;
    }

    .servicios h1 {
        margin-top: 4%;
    }

    .sel-item::before {
        width: 15px;
        height: 15px;
        transform: translate(-30px, 50%);
    }

    .servicios .txt img {
        width: 60px;
    }

    .servicios .txt h2 {
        font-size: 40px;
        margin: 0px 0px;
    }

    .servicios .txt h3 {
        margin-top: 25px;
        font-size: 25px;
    }

    .servicios .txt h4 {
        font-size: 22px;
    }

    .servicios .txt p {
        font-size: 23px;
    }

    .proyectos h1 {
        font-size: 80px;
    }

    .grid-card {
        margin: 0 2%;
    }

    .grid-card a {
        height: 100%;
    }

    .grid-card .img-card {
        margin: 2% 0%;
        width: 50%;
    }

    .grid-card .nombre {
        margin: 1%;
    }

    .grid-card .aka {
        margin: 1%;
    }

    .btn {
        margin: 2% 0%;
    }

    .btn img {
        width: 65%;
    }

    .skill {
        top: 100vh;
    }

    .skill p {
        margin: 1% 0%;
        font-size: 70px;
    }

    .skill img {
        margin: 2% 5%;
        width: 7.5%;
    }
}

