* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}

.clase {
    color:rgb(0, 195, 255);
    font-size: 30px;
    font-weight: 600;
}

.igual {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.clasename {
    color: rgb(184, 150, 0);
    font-size: 30px;
    font-weight: 600;
}

.signo3 {
    font-size: 35px;
    color: gray;
    font-weight: 400;
}

.sh3 {
    font-size: 35px;
    color: #004dac;
}

.signo1 {
    font-size: 60px;
    color: gray;
    font-weight: 400;
}

.sh1 {
    font-size: 60px;
    color: #004dac;
}

.signop {
    font-size: 20px;
    color: gray;
    font-weight: 400;
}

.sp {
    font-size: 20px;
    color: #004dac;
}

.sect {
    position: relative;
    bottom: -10px;
}

header {
    position: fixed;
    right: 10%;
    z-index: 999;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav-list nav input{
    margin: 0px 20px;
    color: #0053b8;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

section {
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.presentacion {
    background-color: rgb(29, 29, 29);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.perfil img {
    position: absolute;
    height: 32em;
    right: 10%;
    filter: drop-shadow(35px 35px 10px #1a5dae65);
    border-radius: 18px;
    z-index: 1;
    transition: transform 0.2s;
}

.perfil img:hover {
    transform: scale(1.04);
}

.txt {
    position: relative;
    max-width: 75%;
    padding: 10px;
    z-index: 0;
}

.txt h1 {
    margin: 10px 0px;
    font-size: 60px;
    color: white;
}

.txt h3 {
    font-size: 30px;
    text-align: initial;
    color: #ffffff;
}

.txt p {
    font-size: 20px;
    text-align: initial;
    width: 65%;
    font-weight: bold;
    color: white;
}

.txt hr {
    height: 2px;
    max-width: 160px;
    margin: 20px 0px;
    filter: drop-shadow(0px 0px 4px #4978b295);
    border-color:#004dac;
    background-color: #004dac;
}

.servicios {
    height: 100vh;
    width: 100%;
    color: white;
}



.servicios h1{
    margin: 40px 9%;
    text-align: initial;
    font-size: 60px;
}

.servicios .txt{
    display: flex;
    justify-content: center;
    gap: 10%;
    max-width: 100%;
    height: 80vh;
}

.servicios .txt div{
    max-width: 22%;
    margin: 2% 0px ;
}

.servicios .txt img {
    width: 70px;
    margin: 0px 20px;
}

.servicios .txt h2{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20px 0px;
}


.servicios .txt h3 {
    margin-top: 35px;
    font-size: 25px;
    text-align: initial;
}

.servicios .txt h4 {
    color: #004dac;
    text-align: initial;
    margin: 10px 0px;
}

.servicios .txt p {
    width: 100%;
}