<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RadFix</title>
    <link rel="stylesheet" href="/css/radfix.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.js"></script>
</head>
<body>
    <header>
        <div class="nav-list">
            <nav>
                <input type="button" value="SOBRE MI">
                <input type="button" value="RESUMEN">
                <input type="button" value="PROYECTOS">
                <input type="button" value="CONTACTO">
            </nav>
        </div>
    </header>
    <section class="presentacion">
        <!--<p class="sect"><span class="clase">class</span><span class="igual">=</span><span class="clasename">"presentacion"</span></p>-->
        <div class="perfil">
            <img src="/img/user2.jpg" alt="">
            <div class="txt">
                <h3><span class="signo3">&lt;</span><span class="sh3">h3</span><span class="signo3">&gt;</span>ESTUDIANTE INGENIERIA DE SOFTWARE<span class="signo3">&lt;/</span><span class="sh3">h3</span><span class="signo3">&gt;</span></h3>
                <h1><span class="signo1">&lt;</span><span class="sh1">h1</span><span class="signo1">&gt;</span>¿Quien Soy?<span class="signo1">&lt;/</span><span class="sh1">h1</span><span class="signo1">&gt;</span></h1>
                <hr>
                <p><span class="signop">&lt;</span><span class="sp">p</span><span class="signop">&gt;</span>Soy estudiante apasionado por el desarrollo front-end. Estoy en busca de una oportunidad
                laboral que me permita aplicar y ampliar mis conocimientos en HTML, CSS Y JavaScript, y
                aprender nuevas tecnologias en un entorno profesional. Me gusta crear interfaces
                intuitivas y atractivas, estoy motivado para seguir creciendo en el area de diseño y desarrollo
                web.<span class="signop">&lt;/</span><span class="sp">p</span><span class="signop">&gt;</span></p>
                
            </div>
        </div>
    </section>
    <section class="servicios">
        <h1>Resumen</h1>
        <div class="txt">
            <div>
                <h2><img src="/img/icon-estudios.png" alt="icono de educacion"> Educacion</h2>
                <hr>
                <h3>Universidad Ucompensar</h3>
                <h4>2024 - Actualidad</h4>
                <p>Ingenieria De Software</p>

                <h3>Universidad Ucompensar</h3>
                <h4>2022 - 2024</h4>
                <p>Tecnico en programación de aplicaciones de Software</p>
            </div>

            <div>
                <h2><img src="/img/icon-experiencia.png" alt="icono de educacion"> Experiencia</h2>
                <hr>
                <h3>Banco Falabella</h3>
                <h4>2024/03 - 2024/10</h4>
                <p>Practicante encargado de la creación de reportes en Looker Studio con el uso de Big Query</p>

                <h3>Colombian Travel Service</h3>
                <h4>2024/03 - 2024/10</h4>
                <p>Atención al cliente y transcripción de datos para generar formularios de VISA</p>
            </div>

            <div>
                <h2><img src="/img/icon-certificado.png" alt="icono de cursos"> Cursos </h2>
                <hr>
                <h3>Database Foundations de Oracle</h3>
                <h4>2024 - Actualidad</h4>
                <h3>Curso profesional de git y GitHub de platzi</h3>
                <h4>2024 - Actualidad</h4>
                <h3>Python para principiantes de Microsoft</h3>
                <h4>2024 - Actualidad</h4>
                <h3>Introducción al marketing digital de platzi</h3>
                <h4>2024 - Actualidad</h4>
            </div>
        </div>
    </section>
    <section class="proyectos">
        <div class="projects" id="projects">
            <h1>Proyectos </h1>
            <hr>
            <div class="grid-card">
                <div class="proyectos">
                    <a id="project" v-for="colab in colabs" :key="colab.id" :href="colab.link">
                        <img :src=" colab.imagen " alt="">
                        <div class="nombre"> {{ colab.nombre }} </div>
                        <div class="aka"> {{colab.aka}} </div>
                    </a>
                </div>
            </div>
        </div>
    
    </section>
    <section class="contacto">
    <div class="contact" id="contact">
        <h1>Contactame</h1>
        <div class="form">
            <h3 class="title-log">Iniciar Sesión</h3>
            <form @submit.prevent="login">
                <div class="ingresar">
                    <fieldset>
                        <legend for="password" class="">Mensaje</legend>
                        <input type="password" id="password" v-model="password" class="form-control"
                            placeholder="Ingresa tu Password">
                    </fieldset>
                </div>
                <div class="ingresar">
                    <fieldset>
                        <legend for="password" class="">Mensaje</legend>
                        <input type="password" id="password" v-model="password" class="form-control"
                            placeholder="Ingresa tu Password">
                    </fieldset>
                </div>
                <div class="ingresar">
                    <fieldset>
                        <legend for="password" class="">Mensaje</legend>
                        <input type="password" id="password" v-model="password" class="form-control"
                            placeholder="Ingresa tu Password">
                    </fieldset>
                </div>
    
                <p v-if="errorMessage"> {{errorMessage }} </p>
                <button type="submit" class="btn-lg">Enviar</button>
            </form>
        </div>
    </section>
</body>
<script src="/js/radscript.js"></script>
</html>